version: "3.7"

services:
  mysql:
    build:
      context: .
      dockerfile: db.Dockerfile
    ports:
      - '3306:3306'
    restart: unless-stopped
    volumes:
      - ./data/mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: bangumi
      MYSQL_USER: user
      MYSQL_PASSWORD: password

  redis:
    image: redis:alpine
    command: redis-server requirepass "redis-pass"
    restart: unless-stopped
    ports:
      - '6379:6379'
